.bottom_content {
    display: flex;
    flex-direction: row;
    margin: 5rem;
    justify-content: space-around;

    .bottom_p {
        width: 25%;

        h2 {
            font-size: 2rem;
            font-weight: bold;
        }

        p {
            font-size: 1.5rem;
        }
    }
}