.sign_up {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('images/banner.jpeg');
    height: 75%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    

    p{
        font-size: 7rem;
        display: flex;
        justify-content: flex-start;
        margin-left: 5rem;
        color: white;

        @media @phone {
            font-size: 4.25rem;
        }
    
    }

    button {
        .button();
        margin-left: 5rem;
        margin: 5rem 5rem;

        @media @phone {
            width: 20%;
        }
    }
}